@model IEnumerable<SBS.Model.Mechanic>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Mechanic List</h2><hr />

<p>
    <a class="btn  btn-success" href="@Url.Action("AddorEdit", "Mechanic")"><i class="fa fa-plus "></i> New Mechanic</a>
</p>
<table class="table table-bordered table-hover">
    <tr class="bg-dark text-white">
        <th>
            @Html.DisplayNameFor(model => model.MechanicNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MechanicNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.ActionLink("Edit", "AddorEdit", new { id=item.Id },new { @class="btn btn-sm btn-info"}) 
            @*@Html.ActionLink("Details", "MechanicProfile", new { id=item.Id }, new { @class = "btn btn-sm btn-success" })*@ 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
