@model SourceControlFinalAssignment_1.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id="LoginForm"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false, "Please Fix the following errors and then try to Login", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control",id="name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control",id="password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-success" /> &nbsp;
                @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}


<script>
    
    $("#LoginForm").validate({
        rules: {
            name: {
                required: true,
            },
            password: {
                required: true,
                password:true
            }
        },
        messages: {
            name: "username or email is required",
            password:"password is required"
        }
    })
</script>

